/* ----------[ imports ]---------- */
@font-face {
    font-family: "minitel";
    src: url("../font/minitel.ttf") format("truetype");
}

/* ----------[ general ]---------- */
* {
    font-family: "minitel";
}

/* ----------[ center everything ]---------- */
.super_centered {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#minitel {
    width: 75vw;
    height: 75vw;
    max-width: 500px;
    max-height: 500px;
    display: grid;
    place-items: center;
    border: 3px solid green;
    position: relative;
}

/* ----------[ V1 - panneau under construction ]---------- */
#sign {
    width: 70%;
    height: 30%;
    font-size: 0.7rem;
    text-align: center;
    border: 5px outset grey;
    background-color: #ddd;
    position: absolute;
    top: -30%;
    left: 15%;
    transform: rotate(10deg);
    display: grid;
    place-items: center;
}

#sign:hover {
    transform: rotate(-10deg);
}

/* ----------[ V2 - panneau under construction ]---------- */
.flip-card {
    margin: 5rem;
    background-color: transparent;
    width: 40vw;
    height: 15vw;
    perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: grid;
    place-items: center;
    border-radius: 15px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #aaa;
    color: white;
}

/* Style the back side */
.flip-card-back {
    background-color: #ddd;
    color: black;
    transform: rotateY(180deg);
}
